.hidden {
    display: none;
}
#mapList {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-top: 10px;
    border: 2px solid #333;
}

#savedMapsList li {
    cursor: pointer;
    padding: 5px;
    background: #eee;
    margin-bottom: 2px;
}

#savedMapsList li:hover {
    background: #ccc;
}

.cell[data-state="0"] { background-image: url("img/grass.webp"); }
.cell[data-state="2"] { background-image: url("img/water.jpg"); }
.cell[data-state="3"] { background-image: url("img/gravel.jpg"); }

#editor {
    #grid{
        width: auto;
        height: 90vh;
        display: grid;
        grid-template: repeat(20, 1fr) / repeat(20, 1fr);
        aspect-ratio: 1 / 1;
        gap: 1px;
        padding: 5px;
        span {
            display: block;
            aspect-ratio: 1 / 1;
            background-size: cover;
        }
    }
}

.cell[data-state="1"] {
    background-image: url("img/road_straight.png");
    background-size: cover;
    transform-origin: center;
}

.cell[data-state="1"].is-corner {
    background-image: url("img/road_corner.png");
}

.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-270 { transform: rotate(270deg); }
