.hidden {
    display: none;
}

#editor {
    border: 1px solid #000;
    #grid{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    }
}