.hidden {
    display: none;
}


.cell[data-state="0"] { background-image: url("img/grass.webp"); }
.cell[data-state="1"] { background-image: url("img/road1.png"); }
.cell[data-state="2"] { background-image: url("img/water.jpg"); }
.cell[data-state="3"] { background-image: url("img/gravel.jpg"); }

#editor {
    #grid{
        width: auto;
        height: 90vh;
        display: grid;
        grid-template: repeat(20, 1fr) / repeat(20, 1fr);
        aspect-ratio: 1 / 1;
        gap: 1px;
        padding: 5px;
        span {
            display: block;
            aspect-ratio: 1 / 1;
            background-size: cover;
        }
    }
}